<h2>My Posts</h2>

<div class="row">
  {{#each post in model}}
    <div class="col-xs-6 col-lg-4 blog-item">
      <h2>{{post.title}}</h2>
      <p class="description">{{post.body}}</p>
    </div>
  {{/each}}
</div>

{{outlet}}